@font-face {
    font-family: 'beatrice';
    src: url(../fonts/BeatriceDisplay.ttf);
}

div.recado {
    background-color: #ECF5F3ff;
    text-align: center;
    color:#fff;
    padding-top:10em;
}

a span { 
    font-family: 'beatrice';
    font-size: 3em;
    color: rgb(196, 21, 21);
    text-decoration: none;
}