

.contato-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    margin: 0;
    padding: 50px;
    gap: 30px;
}


.img-contato {
    max-width: 50%;
}
  
.img-contato img{
    max-width: 100%;
}


.ctt-btns{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btns{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.btns a{
    transition: all 0.3s ease;
}

.btns a:hover{
    transform: scale(1.2);
}


@media (min-width: 0px) and (max-width: 480px) {
    .contato-box{
        flex-direction: column;
        align-items: center;
    }

    .img-contato, .ctt-btns{
        max-width: 100%;
        width: 100%;
    }

    .ctt-btns h1{
        font-size: 1.3rem;
    }
}

@media (min-width: 479px) and (max-width: 768px) {
    .contato-box{
        flex-direction: column;
        align-items: center;
    }

    .img-contato, .ctt-btns{
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
        
}