@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Modernist';
    src: url(../fonts/Sk-Modernist-Regular.otf);
}
* {
    font-family: 'Poppins', sans-serif;

    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    --cultured: #f0f0f0ff;
    --gainsboro: #dde5e5ff;
    --light-gray: #c6d3d3ff;
    --steel-teal: #648181ff;
    --eerie-black: #252525ff;
    --op-eerie-black: rgba(54, 54, 54, 0.5);
    color: var(--light-gray);

    /* FONTES: https://coolors.co/f0f0f0-dde5e5-f3fafb-648181-f9fcfd-c6d3d3-252525
    https://coolors.co/252525
    https://coolors.co/648181 */
}

body {
    padding-top: 70px; /* Altura do menu */
    background-color: var(--eerie-black);
    min-height: 100vh;
}

header{
    background-color: var(--op-eerie-black);
    backdrop-filter: blur(25px);
    height: 70px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    position: fixed;
    top: 0;
    z-index: 5;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--light-gray);
    padding: 5px;
    position: relative;
}

header nav ul li:last-child a{
    display: flex;
    align-items: center;
}

header nav ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: var(--steel-teal);
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}
  
header nav ul li a:hover::before {
    transform: scaleX(1);
}

header nav ul li a span {
    font-size: 20px !important;
    font-weight: bold !important;
}

header figure img#logo {
    height: 40px;
}

/* BANNER INICIAL */

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    width: 100%;
    height: 70vh;
    position: relative;
    margin: 0;
    padding: 0;
}
.banner {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

.banner .swiper-slide.banner-slide {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.card.banner-card{
    aspect-ratio: 16/9;
    height: 70vh;
    width: auto;
    max-width: 80vw;
    max-height: 40vw;
    overflow: hidden;
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 15%);
    border: solid 1px var(--light-gray);
    border-radius: 18px;
}

.card.banner-card img {
    object-fit: cover;
}

.banner .swiper-wrapper{
    margin-bottom: 30px;
}

.banner .card-footer {
    /* height: 0;
    top: 100%; */
    background-color: var(--op-eerie-black);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(116, 116, 116, 0.474);
    position: absolute;
    top: 70%;
    height: 30%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.banner .banner-card:hover .card-footer{
    transition: all .4s ease;
    opacity: 100%;
    visibility: visible;
}

.banner .card-footer .card-footer-content{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .banner .card-footer-content .major-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
} */

.banner .card-footer-content .major-infos div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.banner .card-footer-content .major-infos a{
    text-decoration: none;
    transition: all .2s ease-in-out;
    font-size: 2rem;
    color: var(--cultured);
}

.banner .card-footer-content .major-infos h2:hover a{
    text-decoration: underline;
    font-size: 2.4rem;
}

.banner .card-footer-content .minor-infos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .card-footer-content .minor-infos .genres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    gap: 10px;
}

.swiper-pagination {
    margin-top: 50px !important;
}

.swiper-pagination-bullet{
    background-color: var(--light-gray) !important;
    margin-top: 20px;
}



/* CARDS */

/* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100vw;
} */

.container .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/*.container .content:first-child{
    display: block;
     flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
}*/

.card {
    /* display: flex; */
    display: inline-block;
    position: relative;
    justify-content: center;
    width: 390px;
    height: 270px;
    border-radius: 10px;
    margin: 20px;
    transition: all .4s ease-in-out;
    overflow: hidden;
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 15%);
    border: solid 1px rgba(255, 255, 255, 0);
    
    /* flex-direction: column;
    justify-content: flex-start; 
    background-color: rgb(56, 55, 55);
    backdrop-filter: blur(10px); 
    gap: 20px;
    border: solid 1px var(--steel-teal); */
}

.card:hover{
    /* transform: scale(1.05);
     */
     border: solid 1px var(--steel-teal);
}

.card img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card .infos{
    background-color: var(--op-eerie-black);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 175px;
    height: 95px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card .game-infos{
    display: flex;
    flex-direction: column;
}

.card .game-infos h2{
    color: var(--gainsboro);
    font-size: 1.3rem;
    font-weight: 500;
}

.card .game-infos .card-details{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
}

.card .game-infos .card-details h3{
    font-size: .6rem;
    font-weight: 400;
    color: var(--light-gray);
    margin-right: 10px;
}

.card .button{    
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    height: 40px;
    width: 75px;
    margin-right: 10px;
    transition: all .4s ease-in-out;
}

.card .button:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.card .button button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.card .button button span{
    transition: all 0.4s ease-in-out;
    font-size: 1rem;
}

.card .button button:hover span{
    color: var(--cultured);
}

.card .button button a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.card .button button a h3{
    color: rgb(230, 219, 219);

}


/* SWIPER */
.swiper-container {
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
}

.swiper-container h1{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 40px;
}

.swiper-container h1 span{
    transition: all 0.4s ease-in-out;
}

.swiper-container h1 a{
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.swiper-container h1 a:hover span{
    transform: translateX(10px);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    margin-top: -50px;
    text-align: center;
    font-size: 18px;
    width: 430px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--steel-teal) !important;
    margin-top: -70px !important;
}


.page__art {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
}

/* FOOTER */

footer{
    background-color: var(--op-eerie-black);
    backdrop-filter: blur(25px);
    font-size: 16px;
    font-weight: 300;
    padding: 50px 30px 10px 30px;
    margin: 0px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
}

footer .footer-content h6{
    color: var(--gainsboro);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

footer .footer-content .footer-logo{
    max-width: 40%;
    font-size: small;
}

footer .footer-content .footer-logo img{
    max-width: 200px;
    height: auto;
    width: auto;
    margin-bottom: 30px;
}

footer .footer-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

footer .footer-content .footer-links ul {
    gap: 5px;
}

footer .footer-content a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all .3s ease-in-out;
}

footer .footer-content a:hover{
    color: var(--cultured);
}

footer .footer-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

footer .footer-footer p{
    opacity: 0.5;
    font-size: small;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 480px) {
    .swiper-container {
        height: 220px;
    }
    
    .swiper-container h1{
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .swiper-slide{
        width: 60% !important;
        margin-top: -20px !important;
        margin-right: 10px !important;
    }

    .swiper-slide .card{
        width: 100%;
        height: auto;
        max-height: 150px;
        aspect-ratio: 5/4;
        margin: 8px;
    }

    .card .infos{
        top: 70%;
        height: 30%;
    }

    .card .game-infos h2 {
        font-size: .9rem;
    }

    .card .game-infos .card-details span.material-symbols-outlined {
        font-size: .8rem;
    }

    .card .game-infos .card-details{
        margin-top: 5px;
    }


    .card .button{
        width: 50px;
        height: 30px;
    }

    .card .button button h3 {
        font-size: .7rem;
    }

    .card.banner-card{
        aspect-ratio: 16/9;
    }  
    
    footer, footer .footer-content h6 {
        font-size: 13px;
    }

    footer .footer-footer p, footer .footer-content .footer-logo {
        font-size: 8px;
    }
}

@media screen and (max-width: 576px) {
    .banner-container{
        height: 35vh;
    }

    .banner-container .banner{
        height: 100%;
    }

    .banner .card-footer {
        top: 65%;
        height: 35%;
        width: 100%;
        padding: 0;
    }

    .banner .card-footer-content .major-infos a, .major-infos h2{
        font-size: 16px;
    }
    
    .banner .card-footer-content .major-infos h2:hover a{
        font-size: 18px;
    }

    .banner .card-footer-content .major-infos h4, .banner .card-footer-content .major-infos span{
        font-size: 10px;
    }

    .minor-infos .genres div{
        font-size: 8px;
    }

    

    .banner .swiper-slide{
        margin-right: auto !important;
    }

    .swiper-slide .card{
        width: 100%;
        height: auto;
        aspect-ratio: 5/4;
        margin: 8px;
    }

    .card .infos{
        top: 60%;
        height: 40%;
        padding: 5px;
    }

    .card .game-infos h2 {
        font-size: .8rem;
    }
    
    .card .game-infos .card-details span.material-symbols-outlined {
        font-size: .7rem;
    }

    .card .game-infos .card-details{
        margin-top: 5px;
    }


    .card .button{
        width: 50px;
        height: 30px;
    }

    .card .button button h3 {
        font-size: .5rem;
    }

    .card.banner-card{
        aspect-ratio: 16/9;
        min-height: 70%;
    }

    footer, footer .footer-content h6 {
        font-size: 13px;
    }

    footer .footer-footer p, footer .footer-content .footer-logo {
        font-size: 8px;
    }

    footer .footer-content {
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }


}


@media (max-width: 768px) and (min-width: 576px) { 
    .navbar-brand {
        font-size: 1.5rem;
    }

    .banner-container{
        height: 50vh;
    }

    .banner .card-footer-content .major-infos a{
        font-size: 1.3rem;
    }
    
    .banner .card-footer-content .major-infos h2:hover a{
        font-size: 1.7rem;
    }

    .major-infos h4{
        font-size: 1rem;
    }

    .minor-infos .genres div{
        font-size: .7rem;
    }

    .swiper-slide{
        width: 40% !important;
    }

    .swiper-slide .card{
        width: 100%;
        height: auto;
        aspect-ratio: 5/3.5;
        margin: 8px;
    }

    .card .infos{
        top: 70%;
        height: 30%;
    }

    .card .game-infos h2 {
        font-size: .9rem;
    }

    .card .game-infos .card-details span.material-symbols-outlined {
        font-size: .8rem;
    }

    .card .game-infos .card-details{
        margin-top: 5px;
    }


    .card .button{
        width: 50px;
        height: 30px;
    }

    .card .button button h3 {
        font-size: .7rem;
    }

    footer, footer .footer-content h6 {
        font-size: 13px;
    }

    footer .footer-footer p, footer .footer-content .footer-logo {
        font-size: 8px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) and (min-width: 768px) { 
    .banner-container{
        height: 65vh;
    }
    .swiper-slide{
        width: 40% !important;
    }

    .swiper-slide .card{
        width: 100%;
        height: auto;
        aspect-ratio: 5/3.5;
        margin: 8px;
    }

    .card .infos{
        top: 70%;
        height: 30%;
    }

    .card .game-infos h2 {
        font-size: .9rem;
    }

    .card .game-infos .card-details{
        margin-top: 5px;
    }


    .card .button{
        width: 50px;
        height: 30px;
    }

    .card .game-infos .card-details span.material-symbols-outlined {
        font-size: .8rem;
    }

    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)  {  
    .banner-container{
        height: 80vh
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}